@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Scrollbar sottile e discreta */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(122, 122, 122, 0.15);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(74, 74, 74, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --border-card-light: rgba(255, 255, 255, 0.25);
  --border-card-dark: rgba(83, 83, 83, 0.25);
  --shadow-l-cards: 0.5rem -0.3rem 1rem rgba(83, 83, 83, 0.35);
  --shadow-d-cards: 0.5rem -0.3rem 1rem rgba(255, 255, 255, 0.4);

  /* Cards */
  --height-cards: 400px;
  --width-cards: 300px;
  --border-cards-purple: rgb(114, 0, 172);
  --flex-r-cards: row;
  --padding-cards: 10px;

  /* Sub Cards */
  --height-sub: 100%;
  --width-sub: 100%;
  --gap-sub: 5px;
  --border-sub-purple: rgb(114, 0, 172);

  /*Post Card */
  --height-post-cards: 40rem;
  --width-post-cards: 55rem;
  --border-post-cards-purple: rgb(114, 0, 172);
  --flex-r-post-cards: row;
  --padding-post-cards: 10px;

  /* Links & Buttons */
  --height-btn: 50px;
  --height-btn-sm: 36px;
  --width-btn-sm: 96px;
  --width-btn-lg: 126px;
  --width-btn-xl: 180px;
  --bg-btn: rgb(114, 0, 172);
  --text-btn: white;
  --bg-btn-hover: rgb(49, 0, 74);

  /* Other */
  --gradient-card: linear-gradient(
    135deg,
    #5016b5 15%,
    white 90%
  );

  --_force-rebuild: 5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility cardsL {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-white h-cards w-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-l-cards) hover:scale-105;
}
@utility cardsD {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-black h-cards w-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-d-cards) hover:scale-105;
}

@utility subCard {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl;
}

@utility titleCardL {
  @apply relative flex flex-row items-center justify-center text-base text-black
  border border-(--border-card-dark) rounded-2xl h-1/4 w-full p-1;
}
@utility titleCardD {
  @apply relative flex flex-row items-center justify-center text-base text-white
  border border-(--border-card-light) rounded-2xl h-1/4 w-full p-1;
}

@utility bodyCardL {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-dark) rounded-2xl p-2 ;
}
@utility bodyCardD {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-light) rounded-2xl p-2 ;
}

@utility subBodyCard {
  @apply relative flex flex-wrap h-38 w-full text-center text-base overflow-y-auto overflow-x-hidden;
}

@utility footerCardL {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-dark) rounded-2xl p-2 text-center text-base;
}
@utility footerCardD {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-light) rounded-2xl p-2 text-center text-base;
}

@utility postCardsL {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-white h-post-cards w-post-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-l-cards) hover:scale-105;
}
@utility postCardsD {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-black h-post-cards w-post-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-d-cards) hover:scale-105;
}

@utility postSubCard {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl p-2;
}

@utility postTitleCardL {
  @apply relative flex flex-row items-center justify-center text-base text-black
  border border-(--border-card-dark) rounded-2xl h-1/4 w-full;
}
@utility postTitleCardD {
  @apply relative flex flex-row items-center justify-center text-base text-white
  border border-(--border-card-light) rounded-2xl h-1/4 w-full;
}

@utility postBodyCardL {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-dark) rounded-2xl p-2 ;
}
@utility postBodyCardD {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-light) rounded-2xl p-2 ;
}

@utility postSubBodyCard {
  @apply relative flex flex-wrap h-38 w-full text-center text-base overflow-y-auto overflow-x-hidden;
}

@utility postFooterCardL {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-dark) rounded-2xl p-2 text-center text-base;
}
@utility postFooterCardD {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-light) rounded-2xl p-2 text-center text-base;
}

@utility buttonCard {
  @apply relative flex flex-row justify-center items-center
  h-btn w-btn-lg bg-(--bg-btn) text-(--text-btn) rounded-2xl
  hover:bg-(--bg-btn-hover) hover:scale-110;
}

@utility detailsCard {
  @apply relative flex flex-row flex-1 h-full w-full items-center justify-center p-2;
}

@utility buttons {
  @apply h-btn-sm w-btn-lg cursor-pointer rounded-2xl bg-(--bg-btn) hover:bg-(--bg-btn-hover) hover:scale-105;
}
