@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Scrollbar sottile e discreta */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(102, 101, 101, 0.673);
  border-radius: 9999px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: rgba(2, 2, 2, 0.8);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --border-card-light: rgba(255, 255, 255, 0.25);
  --border-card-dark: rgba(83, 83, 83, 0.25);
  --shadow-l-cards: 0 -0.1rem 0.5rem rgba(50, 50, 50, 0.7);
  --shadow-d-cards: 0 -0.1rem 0.5rem rgba(255, 255, 255, 0.4);

  /* Cards */
  --height-cards: 400px;
  --width-cards: 300px;
  --border-cards-purple: rgb(114, 0, 172);
  --flex-r-cards: row;
  --padding-cards: 10px;

  /* Sub Cards */
  --height-sub: 100%;
  --width-sub: 100%;
  --gap-sub: 5px;
  --border-sub-purple: rgb(114, 0, 172);

  /*Post Card */
  --height-post-cards: 30rem;
  --width-post-cards: 40rem;
  --border-post-cards-purple: rgb(114, 0, 172);
  --flex-r-post-cards: row;
  --padding-post-cards: 10px;

  /* Links & Buttons */
  --height-btn: 50px;
  --height-btn-sm: 36px;
  --width-btn-sm: 96px;
  --width-btn-lg: 126px;
  --width-btn-xl: 180px;
  --bg-btn: rgb(114, 0, 172);
  --text-btn: white;
  --bg-btn-hover: rgb(49, 0, 74);

  /* Other */
  --gradient-card: linear-gradient(
    135deg,
    #5016b5 15%,
    white 90%
  );

  --_force-rebuild: 8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility cards {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-gray-400/40 dark:bg-gray-400 h-cards w-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-l-cards) hover:scale-105;
}
@utility cardsL {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-gray-400/40 h-cards w-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-l-cards) hover:scale-105;
}
@utility cardsD {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-gray-400 h-cards w-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-d-cards) hover:scale-105;
}

@utility subCard {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl bg-white dark:bg-black;
}
@utility subCardL {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl bg-white;
}

@utility subCardD {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl bg-black;
}

@utility titleCard {
  @apply relative flex flex-row items-center justify-center text-base text-black
  border border-(--border-card-dark) dark:border-(--border-card-light) rounded-2xl h-1/4 w-full p-1;
}
@utility titleCardL {
  @apply relative flex flex-row items-center justify-center text-base text-black
  border border-(--border-card-dark) rounded-2xl h-1/4 w-full p-1;
}
@utility titleCardD {
  @apply relative flex flex-row items-center justify-center text-base text-white
  border border-(--border-card-light) rounded-2xl h-1/4 w-full p-1;
}

@utility bodyCard {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-dark) dark:border-(--border-card-light) rounded-2xl p-2 ;
}
@utility bodyCardL {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-dark) rounded-2xl p-2 ;
}
@utility bodyCardD {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-light) rounded-2xl p-2 ;
}

@utility subBodyCard {
  @apply relative flex flex-wrap h-38 w-full text-center text-base overflow-y-auto overflow-x-hidden;
}

@utility paragraphCard {
  @apply text-center text-black dark:text-white text-base font-serif;
}

@utility footerCard {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-dark) dark:border-(--border-card-light) rounded-2xl p-2 text-center text-base;
}
@utility footerCardL {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-dark) rounded-2xl p-2 text-center text-base;
}
@utility footerCardD {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-light) rounded-2xl p-2 text-center text-base;
}

@utility postCards {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-gray-400/40 dark:bg-gray-400 h-post-cards w-post-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-l-cards) hover:scale-105;
}
@utility postCardsL {
  @apply relative flex flex-row border 
  border-(--border-cards-purple) bg-gray-400/40 h-post-cards w-post-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-l-cards) hover:scale-105;
}
@utility postCardsD {
  @apply relative flex flex-row border 
  border-(--border-cards-purple)  h-post-cards w-post-cards rounded-2xl 
  p-(--padding-cards) items-center justify-center
  shadow-(--shadow-d-cards) hover:scale-105;
}

@utility postSubCard {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl p-2 bg-white dark:bg-black;
}
@utility postSubCardL {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl p-2 bg-white;
}
@utility postSubCardD {
  @apply relative flex flex-col h-sub w-sub gap-sub rounded-2xl p-2 bg-black;
}

@utility postTitleCard {
  @apply relative flex flex-row items-center justify-center text-base text-black dark:text-white
  border border-(--border-card-dark) rounded-2xl h-1/4 w-full;
}
@utility postTitleCardL {
  @apply relative flex flex-row items-center justify-center text-base text-black
  border border-(--border-card-dark) rounded-2xl h-1/4 w-full;
}
@utility postTitleCardD {
  @apply relative flex flex-row items-center justify-center text-base text-white
  border border-(--border-card-light) rounded-2xl h-1/4 w-full;
}

@utility postBodyCard {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-dark) dark:border-(--border-card-light) rounded-2xl p-2 ;
}
@utility postBodyCardL {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-dark) rounded-2xl p-2 ;
}
@utility postBodyCardD {
  @apply relative flex flex-wrap flex-row justify-center items-center
  h-2/4 w-full border border-(--border-card-light) rounded-2xl p-2 ;
}

@utility postSubBodyCard {
  @apply relative flex flex-wrap h-38 w-full text-center text-base overflow-y-auto overflow-x-hidden;
}

@utility postFooterCard {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-dark) dark:border-(--border-card-light) rounded-2xl p-2 text-center text-base;
}
@utility postFooterCardL {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-dark) rounded-2xl p-2 text-center text-base;
}
@utility postFooterCardD {
  @apply relative flex flex-wrap justify-between items-center h-1/4 w-full overflow-y-auto overflow-x-hidden
  border border-(--border-card-light) rounded-2xl p-2 text-center text-base;
}

@utility buttonCard {
  @apply relative flex flex-row justify-center items-center
  h-btn w-btn-lg bg-(--bg-btn) text-(--text-btn) rounded-2xl
  hover:bg-(--bg-btn-hover) hover:scale-110;
}

@utility detailsCard {
  @apply relative flex flex-col flex-1 h-dvh w-full items-center justify-center p-2 
  bg-repeat bg-cover bg-center 
  bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ06R0MuBxCafDIfD3FfgEE6h8lI2DoVhL19zw8s9DNLw&s=10')] 
  dark:bg-no-repeat dark:bg-cover dark:bg-center 
  dark:bg-[url('https://png.pngtree.com/thumb_back/fh260/background/20240104/pngtree-mystic-blackberry-a-textured-design-on-an-abstract-dark-purple-background-image_13879614.png')];
}

@utility buttons {
  @apply h-btn-sm w-btn-lg cursor-pointer rounded-2xl bg-(--bg-btn) hover:bg-(--bg-btn-hover) hover:scale-105;
}
